/* Styling Div Class header*/
.header{
    background-color: aqua;
}

/* Styling h1 in Div Class header*/
h1{
    font-family: 'Franklin Gothic Heavy', sans-serif;
    color:brown;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Styling body*/
body{
    font-family: 'Franklin Gothic Medium', sans-serif;
    font-size:1rem;
}

/* Styling Section text1*/
#text1{
    font-weight: bold;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Styling Div Class text2*/
.text2{
    color:blueviolet;
    text-align: left;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: antiquewhite;
}

/* Styling form*/
form{
    border-color: aquamarine;
    border-width: 20px;
    border-style: dotted;
    margin-left: 2.5%;
    padding-left: 2.5%;
    padding-top: 10px;
    padding-bottom: 10px;
}

button{
    background-color: coral;
    border-style: none;
}

/* Styling Div Class 3*/
.text3{
    font-size: 0.5rem;
    padding-left: 5%;
    padding-top: 5px;
    padding-bottom: 5px;
}
